@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
    ViewData["Title"] = "Kot";
}

<div class="container-fluid mt-3 mb-3">
    <h1>Kot</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="nav nav-tabs nav-underline mb-3 border-0" id="nav-tab" role="tablist">
                <button class="nav-link active border-0 " id="nav-tab1-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-tab1" type="button" role="tab" aria-controls="nav-home"
                    aria-selected="true">Tab-1</button>
                <button class="nav-link border-0 " id="nav-tqb2-tab" data-bs-toggle="tab" data-bs-target="#nav-tqb2"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tab-2</button>
                <button class="nav-link border-0 " id="nav-tab3-tab" data-bs-toggle="tab" data-bs-target="#nav-tab3"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Tab-3</button>
            </div>

            <div class="tab-content p-3 border-0" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-tab1" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam non fuga quod
                        ullam a quam, rerum enim dicta reiciendis explicabo.</p>
                </div>
                <div class="tab-pane fade" id="nav-tqb2" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat commodi fuga a.
                        Officia quo, sint labore alias fugiat voluptatum itaque.</p>
                </div>
                <div class="tab-pane fade" id="nav-tab3" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis non adipisci
                        sapiente repellat, unde deserunt commodi earum fugit sequi. Vel incidunt eaque
                        autem, natus porro amet rem facere officia numquam!</p>
                </div>

            </div>
        </div>

    </div>

</div>