@{
    ViewData["Title"] = "Menu Page";
}

<main>
    <!-- content-box  -->
    <!-- header  -->
    <h3 class="text-blue font-weight-bold">Menu</h3>
    <!-- Box Section  -->
    <div class="bg-white border rounded shadow mt-3 p-3">

        <!-- tabs -->
        <ul class="nav tab-nav gap-2" id="myTab" role="tablist">
            <li class="nav-item p-0" role="presentation">
                <button class="d-flex align-items-center item-modifier-btn tabs b-none p-2" id="tab-1"
                    data-bs-toggle="tab" data-bs-target="#tab-11" type="button" role="tab" aria-controls="tab-11"
                    aria-selected="true">
                    <img src="img/menu-black.svg" height="30px" alt="">
                    <span>Items</span>
                </button>
                <!-- <button class="" >Tab 1</button> -->
            </li>
            <li class="nav-item p-0" role="presentation">
                <button class="tabs d-flex align-items-center item-modifier-btn p-2" id="tab-2" data-bs-toggle="tab"
                    data-bs-target="#tab-22" type="button" role="tab" aria-controls="tab-22" aria-selected="false"><img
                        src="img/menu-black.svg" height="30px" alt="">
                    <span>Modifiers</span></button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab-1">
                <!-- category-table section  -->
                <div class="d-flex category-table-section  bg-light pt-3">
                    <!-- category sider section  -->
                    <partial name="~/Partial View/CategoryList.cshtml" />
                    <!-- finish category sider section  -->

                    <!-- table section  -->
                    <div class="bg-white border rounded shadow flex-grow-1 p-3 overflow-auto">
                        <!-- header of table  -->
                        <div class="d-flex align-items-center gap-2">
                            <div id="item-modifier-toggle">
                                <button class="btn" style="box-shadow: none;">
                                    <img src="img/menu-black.svg" height="30px" alt="">
                                </button>
                            </div>
                            <h1 id="header">Items</h1>
                        </div>
                        <!-- search-add-item section  -->
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="search-div">
                                <input class="me-2 input-search px-2 " type="search" placeholder="Search">
                                <span class="search-icon">
                                    <i class="bi bi-search"></i>
                                </span>
                            </div>
                            <a href="" class="btn border d-flex justify-content-center " data-bs-target="#model-delete"
                                data-bs-toggle="modal">
                                <i class="bi bi-trash h5"></i></a>
                            <a href="" class="btn bg-blue text-white d-flex align-items-center ms-2 px-2 py-0"
                                data-bs-target="#model-new-item" data-bs-toggle="modal"> <i
                                    class="bi bi-plus h3"></i><span class="d-sm-block d-none">New
                                    Item</span></a>
                        </div>
                        <!-- finish search-add-item section -->
                        <!-- table  -->
                        <div class="table-responsive text-nowrap">
                            <table class="table my-table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckIndeterminate">
                                                <label class="form-check-label" for="flexCheckIndeterminate">
                                                    Name
                                                </label>
                                            </div>
                                            <!-- <span>Permission</span> -->
                                        </th>
                                        <th scope="col">ItemType</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Available</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked" checked>
                                                <img height="25px" src="images/dining-menu.png" alt="">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Panjabi Tadka Sandwich
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <img height="25px" src="images/icons/veg-icon.svg" alt="">
                                        </td>
                                        <td>200</td>
                                        <td>1</td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" name="" id="" checked>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="edit-user.html"><i class="bi bi-pen"></i></a>
                                            <a href="" data-bs-target="#model-delete" data-bs-toggle="modal"> <i
                                                    class="bi bi-trash ms-3"></i></a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <!-- pagination  -->
                        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mt-2">
                            <div class="d-flex align-items-center  gap-2">
                                <span>Items Per page:</span>
                                <select name="" id="role-dropdown" class="form-select" style="width: 70px;">
                                    <option value="" selected>5</option>
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                    <option value="">25</option>
                                    <option value="">30</option>
                                </select>
                            </div>
                            <div class="d-flex align-items-center  gap-2">
                                <span>Showing 1-5 of 13</span>
                                <div class="pagination gap-2">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <!-- finish pagination  -->
                    </div>
                    <!-- finish table  -->
                </div>
            </div>
            <div class="tab-pane fade" id="tab-22" role="tabpanel" aria-labelledby="tab-2">Modifier</div>

        </div>
    </div>
</main>