@{
    ViewData["Title"] = "Menu Page";
}
@model PizzaShop.Entity.ViewModel.MenuViewModel

<main class="">
    <!-- content-box  -->
    <!-- header  -->
    <h1 class="text-primary">Menu</h1>
    <!-- Box Section  -->
    <div class="d-flex gap-2 flex-column">

        <!-- tabs -->
        <div class=" d-flex flex-row bg-light shadow  mb-0 border">
            <ul class="nav nav-tabs gap-2 ps-3 " id="myTab" role="tablist">
                <li class="nav-item p-0" role="presentation">
                    <button class="btn d-flex align-items-center tabs p-2  " id="tab-1" data-bs-toggle="tab"
                        data-bs-target="#tab-11" type="button" role="tab" aria-controls="tab-11" aria-selected="true">
                        <img src="img/menu-black.svg" height="30px" alt="">
                        <span>Items</span>
                    </button>
                    <!-- <button class="" >Tab 1</button> -->
                </li>
                <li class="nav-item p-0" role="presentation">
                    <button class=" btn tabs d-flex align-items-center p-2" id="tab-2" data-bs-toggle="tab"
                        data-bs-target="#tab-22" type="button" role="tab" aria-controls="tab-22"
                        aria-selected="false"><img src="img/menu-black.svg" height="30px" alt="">
                        <span>Modifiers</span></button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-11" role="tabpanel" aria-labelledby="tab-1">
                <div class="d-flex category-table-section  bg-light pt-3">
                    
                    <partial name="./PartialView/Category"/>

                </div>
            </div>
            <div class="tab-pane fade" id="tab-22" role="tabpanel" aria-labelledby="tab-2">
                <div class="d-flex category-table-section  bg-light pt-3">

                    <partial name="./PartialView/Modifier"/>

                </div>

            </div>

        </div>
    </div>
</main>